{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1 class="text-center my-4">BACKOFFICE</h1>

<p class="text-center">Bienvenue sur votre BackOffice</p>

<a href="{{ path('app_admin_vehicule_index') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES VEHICULES</a>
<a href="{{ path('app_admin_membre') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES MEMBRES</a>
<a href="{{ path('app_admin_commande') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES COMMANDES</a>

{% endblock %}
